@model IEnumerable<Frontend.Models.Employee>

@{
    ViewData["Title"] = "Student List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Faculty</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td>@item.Department</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create">Create New</a>